<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>---PEAJATOR CONFIG FILE---</comment>
<entry key="Version">0.0.8</entry>
<entry key="Idioma::STRING::Espanol">Espanol</entry>
<entry key="Min Hidrologias::INTEGER">40</entry>
<entry key="Max Hidrologias::INTEGER">65</entry>
<entry key="Reglas Reliquidacion::BOOLEAN">false</entry>
<entry key="Calcula Reliquidacion::BOOLEAN">false</entry>
<entry key="Actualiza Clientes::BOOLEAN">false</entry>
<entry key="Min Evalua::INTEGER">2016</entry>
<entry key="Max Evalua::INTEGER">2022</entry>
<entry key="Max Threads::INTEGER">8</entry>
<entry key="Uso Memoria::STRING::Auto::Max::Min">Auto</entry>
<entry key="Thread timeout (en minutos)::INTEGER">60</entry>
<entry key="Imprime pagos a csv::BOOLEAN">true</entry>
<entry key="Imprime prorratas a csv::BOOLEAN">true</entry>
<entry key="Imprime pagos a Excel::BOOLEAN">false</entry>
<entry key="Imprime prorratas a Excel::BOOLEAN">false</entry>
<entry key="Imprime archivos 'debug' prorratas::BOOLEAN">false</entry>
<entry key="Muestra menu re-liquidacion::BOOLEAN">false</entry>
</properties>
